.flex-container{
    background-color: #707070;
    display: flex;
    flex-direction: row;
    margin: 100px;
    padding: 100px;
    height: 350px;
    justify-content: center;
}

.card{
display: inline-block;
width: 200px;
height: 350px;
color: black;
text-align: center;
margin: 0 20px;
border-radius: 10px;


}

.img{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.cont1 {
    background-color: white;
    width: 25%;
    
}

.cont2{
    background-color: white;
    transform: scale(1.1);
    width: 25%;

   
}

.cont3{
    background-color: white;
    width: 25%;
}

.info1{
    background-color: fuchsia;
    margin-top: 60px;
    border-radius: 0px 0px 10px 10px;
}

.info2{
    background-color: rgb(43, 43, 219);
    margin-top: 60px;
    border-radius: 0px 0px 10px 10px;
}

.info3{
    background-color: rgb(57, 255, 57);
     margin-top: 60px;
    border-radius: 0px 0px 10px 10px;
}
.im1{
    color: fuchsia;
}
.im2{
    color: rgb(43, 43, 219);
}
.im3{
    color:  rgb(57, 255, 57);
}
